/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --banner-heading-text-color: #DB00FF;
  --accent-color: #FF0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --heading-text-color: var(--accent-color);
  --subheading-text-color: var(--bg-color);
  --subheading-bg-color: var(--accent-color);
  --main-text-color: #F1B2CE;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
