:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --banner-heading-text-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --hover-color: rgba(50, 49, 45, 0.4);
  --main-text-color: #353430;
  --subheading-text-color: var(--main-text-color);
  --subheading-bg-color: var(--accent-color);
  
}

:root.theme-light .header__decoration {
  display: none;
}

:root.theme-light .decorated-zone::before {
  --accent-color: #353430;
}

:root.theme-light .decorated-zone::after {
  --accent-color: #353430;
}

:root.theme-light .content__section-title {
  --accent-color: #353430;
}

:root.theme-light .header__theme-menu {
  --accent-color: #353430;
}

:root.theme-light .footer__title {
  --accent-color: #FF0070;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #FFF1F7;
    --banner-heading-text-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --hover-color: rgba(50, 49, 45, 0.4);
    --main-text-color: #353430;
    --subheading-text-color: var(--main-text-color);
    --subheading-bg-color: var(--accent-color);
  }

  .header__decoration {
    display: none;
  }

  .decorated-zone::after {
    --accent-color: #353430;
  }
  
  .decorated-zone::before {
    --accent-color: #353430;
  }

  .content__section-title {
    --accent-color: #353430;
  }

  .header__theme-menu {
    --accent-color: #353430;
  }
}