/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --main-font: 'IBM Plex mono';
  --banner-heading-text-color: #DB00FF;
  --accent-color: #FF0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --heading-text-color: var(--accent-color);
  --subheading-text-color: var(--bg-color);
  --subheading-bg-color: var(--accent-color);
  --main-text-color: #F1B2CE;
  --section-gap: 50px;
  --padding-horizontal: 10px;
  font-family: var(--main-font);
  font-size: 16px; /* вынести потом куда-нибудь еще, мб в глобал, мб в переменные потом посмотрим */
}
