:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --banner-heading-text-color: #db00ff;
  --accent-color: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --main-text-color: #f1b2ce;
  --subheading-text-color: var(--bg-color);
  --subheading-bg-color: var(--accent-color);
  --section-gap: 50px;
  --padding-horizontal: 10px;
  --main-font: "IBM Plex mono";
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-size: 16px;
}

@media (width >= 768px) {
  :root {
    --section-gap: 80px;
    --padding-horizontal: 20px;
  }
}
